BC_API_HOST=http://localhost:4002
BC_DEFAULT_LANGUAGE=en
BC_PAGE_SIZE=20
BC_CARS_PAGE_SIZE=15
BC_BOOKINGS_PAGE_SIZE=15
BC_CDN_USERS=http://localhost:4002/cdn/bookcars/users
BC_CDN_CARS=http://localhost:4002/cdn/bookcars/cars
BC_CDN_LOCATIONS=http://localhost:4002/cdn/bookcars/locations
BC_CDN_TEMP_LOCATIONS=http://localhost:4002/cdn/bookcars/temp/locations
BC_CDN_CONTRACTS=http://localhost:4002/cdn/bookcars/contracts
BC_CDN_TEMP_CONTRACTS=http://localhost:4002/cdn/bookcars/temp/contracts
BC_CDN_LICENSES=http://localhost:4002/cdn/bookcars/licenses
BC_CDN_TEMP_LICENSES=http://localhost:4002/cdn/bookcars/temp/licenses
BC_SUPPLIER_IMAGE_WIDTH=60
BC_SUPPLIER_IMAGE_HEIGHT=30
BC_CAR_IMAGE_WIDTH=300
BC_CAR_IMAGE_HEIGHT=200
BC_MINIMUM_AGE=21
BC_DEPOSIT_FILTER_VALUE_1=250
BC_DEPOSIT_FILTER_VALUE_2=500
BC_DEPOSIT_FILTER_VALUE_3=750
BC_WEBSITE_NAME=BookCars
BC_GOOGLE_WEB_CLIENT_ID=GOOGLE_WEB_CLIENT_ID
