BC_API_HOST=http://192.168.1.100:4002
BC_DEFAULT_LANGUAGE=en
BC_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
BC_TRACKING_REFRESH_INTERVAL=30000
BC_CDN_USERS=http://192.168.1.100:4002/cdn/bookcars/users
BC_CDN_CARS=http://192.168.1.100:4002/cdn/bookcars/cars
